@model CapaEntidades.CapaEntidades.Producto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="display: flex; justify-content:center;">Crear</h1>

<h4 style="display: flex; justify-content:center;">Producto</h4>

<hr />

<div class="row" style="display: flex; justify-content:center;">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label>Selecciona una imagen para subir</label>
                <input type="file" name="file" class="form-control" />
            </div>
            <hr />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Categoria</label>
                <select asp-for="IdCategoria" class="form-control" asp-items="ViewBag.IdCategoria"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Marca</label>
                <select asp-for="IdMarca" class="form-control" asp-items="ViewBag.IdMarca"></select>
            </div>
            <div class="form-group mt-2" style="display: flex; justify-content:center;">
                <input type="submit" value="Crear" class="btn btn-primary me-3" />
                <a class="btn btn-danger" asp-action="Index">Regresar</a>
            </div>
            
        </form>
    </div>
</div>
<br />

<br/>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/loadingoverlay.min.js"></script>
<script>
    $(document).ready(function () {
        $("form").on("submit", function () {
            $.LoadingOverlay("show",
                {
                    text: "Cargando..."
                });
        });
    });
</script>

