@model CapaEntidades.CapaEntidades.Producto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdProducto" />
            <div class="form-group">
                <label class="control-label">Imagen Actual</label>
                <div>
                    @if (!string.IsNullOrEmpty(Model.RutaImagen))
                    {
                        <img src="@Model.RutaImagen" alt="Imagen del producto" class="img-thumbnail" width="200" />
                    }
                    else
                    {
                        <p>No hay imagen disponible</p>
                    }
                </div>
            </div>

            <div class="form-group">
                <label>Nueva Imagen</label>
                <input type="file" name="file" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <label class="control-label">Activo</label>
            <div class="form-check form-switch">
                @Html.CheckBox("Activo", Model.Activo ?? false, new { @class = "form-check-input", id = "flexSwitchCheckDefault" })
                <label class="form-check-label" for="flexSwitchCheckDefault" id="switchLabel">
                    @if (Model.Activo ?? false)
                    {
                        <span class="badge bg-success">Sí</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">No</span>
                    }
                </label>
                @Html.ValidationMessageFor(model => model.Activo, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label class="control-label">Marca</label>
                <select asp-for="IdMarca" class="form-control" asp-items="ViewBag.IdMarca"></select>
                <span asp-validation-for="IdMarca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Categoria</label>
                <select asp-for="IdCategoria" class="form-control" asp-items="ViewBag.IdCategoria"></select>
                <span asp-validation-for="IdCategoria" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a class="btn btn-danger" asp-action="Index">Regresar</a>
            </div>
        </form>
    </div>
</div>

<script>

    var checkbox = document.getElementById('flexSwitchCheckDefault');
    var label = document.getElementById('switchLabel');


    checkbox.addEventListener('change', function () {
        var badge = label.querySelector('span');


        if (checkbox.checked) {
            badge.classList.remove('bg-danger');
            badge.classList.add('bg-success');
            badge.textContent = 'SÍ';
        } else {
            badge.classList.remove('bg-success');
            badge.classList.add('bg-danger');
            badge.textContent = 'nO';
        }
    });
</script>


