@model CapaEntidades.CapaEntidades.Categorium

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="display: flex; justify-content:center;">Editar</h1>

<h4 style="display: flex; justify-content:center;">Usuario</h4>
<hr />
<div class="row" style="display: flex; justify-content:center;">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCategoria" />
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <label class="control-label">Activo</label>
            <div class="form-check form-switch">
                @Html.CheckBox("Activo", Model.Activo ?? false, new { @class = "form-check-input", id = "flexSwitchCheckDefault" })
                <label class="form-check-label" for="flexSwitchCheckDefault" id="switchLabel">
                    @if (Model.Activo ?? false)
                    {
                        <span class="badge bg-success">Sí</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">No</span>
                    }
                </label>
                @Html.ValidationMessageFor(model => model.Activo, "", new { @class = "text-danger" })
            </div>

        <div class="form-group mt-5">
            <input type="submit" value="Guardar" class="btn btn-success" />
            <a class="btn btn-danger" asp-action="Index">Regresar</a>
            </div>
        </form>
    </div>

<script>

    var checkbox = document.getElementById('flexSwitchCheckDefault');
    var label = document.getElementById('switchLabel');


    checkbox.addEventListener('change', function () {
        var badge = label.querySelector('span');


        if (checkbox.checked) {
            badge.classList.remove('bg-danger');
            badge.classList.add('bg-success');
            badge.textContent = 'Activa';
        } else {
            badge.classList.remove('bg-success');
            badge.classList.add('bg-danger');
            badge.textContent = 'Desactiva';
        }
    });
</script>

